<div class="container">
  <form
    class="form-group"
    [formGroup]="productForm"
    (ngSubmit)="onProductEdit()"
  >
    <h2 class="h2">Edit Product Details</h2>
    <code class="code">Adding Data to db using FormGroup</code>
    <div class="user_details">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="id"
          >Producy Id: <span class="lblError">*</span></label
        >
        <div class="col-sm-6">
          <input class="form-control" type="number" formControlName="id" />
          <small
            class="lblError"
            *ngIf="
              productForm.get('id').hasError('required') &&
              !productForm.get('id').pristine
            "
            >Id Required</small
          >
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="id"
          >Product Name: <span class="lblError">*</span></label
        >
        <div class="col-sm-6">
          <input
            class="form-control"
            type="text"
            formControlName="product_name"
          />
          <small
            class="lblError"
            *ngIf="
              productForm.get('product_name').hasError('required') &&
              !productForm.get('product_name').pristine
            "
            >Product Name Required</small
          >
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="id"
          >Product Desc: <span class="lblError">*</span></label
        >
        <div class="col-sm-6">
          <input
            class="form-control"
            type="text"
            formControlName="product_desc"
          />
          <small
            class="lblError"
            *ngIf="
              productForm.get('product_desc').hasError('required') &&
              !productForm.get('product_desc').pristine
            "
            >Product Desc Required</small
          >
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="id"
          >Product Price: <span class="lblError">*</span></label
        >
        <div class="col-sm-6">
          <input
            class="form-control"
            type="text"
            formControlName="product_price"
          />
          <small
            class="lblError"
            *ngIf="
              productForm.get('product_price').hasError('required') &&
              !productForm.get('product_price').pristine
            "
            >Product Price Required</small
          >
          <small
            class="lblError"
            *ngIf="
              productForm.get('product_price').hasError('pattern') &&
              !productForm.get('product_price').pristine
            "
            >Invalid Price</small
          >
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-large">Edit</button>
      <span class="mx-2"></span>
      <button type="button" class="btn btn-danger" (click)="onDelete()" >Delete</button>
    </div>
  </form>
</div>
