<!--
<ul>
  <li *ngFor="let item of arrName"> {{item}} </li>
</ul>
<ul>
  <ol *ngFor="let item of arrNum"> {{item}} </ol>
</ul>
-->
<!--
<div class="container pt-3">
  <h2 class="h2">Choice Based</h2>
  <div class="row">
    <div class="col"><input type="text" name="" id="" placeholder="ID" /></div>
    <div class="col"><input type="text" name="" id="" placeholder="Task" /></div>
    <div class="col"><input type="text" name="" id="" placeholder="Status" /></div>
    <div class="col">
      <button class="btn btn-danger">Cancel</button>
      <button class="btn btn-success">Save Task</button>
    </div>
  </div>
  <div class="row">
    <div>




    </div>
  </div>
</div> -->
<!-- Before 15 Sept -->

<div class="container px-0">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="onAddNewTask()">
        Todo Task
      </button>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="onAddNewEmployee()">
        Employee List
      </button>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="onShowProduct()">
        Product List
      </button>
    </div>
  </div>

  <div class="todo" *ngIf="flag">
    <h1>Todo Component</h1>
    <table class="table table-light table-responsive">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Title</th>
          <th scope="col">Status</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrTodos" class="tr">
          <td scope="col">{{ item.Id }}</td>
          <td scope="col">{{ item.Title }}</td>
          <td scope="col">
            <span
              [ngClass]="{
                done: item.Status == 'done',
                pending: item.Status == 'pending'
              }"
              >{{ item.Status }}
            </span>
          </td>
          <td scope="col">
            <button class="btn btn-danger px-2" (click)="onDeleteTask(item)">
              Delete
            </button>
            <button class="btn btn-primary" (click)="onUpdateTask(item)">
              Update
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="tr">
          <td scope="col">
            <input
              class="form-control"
              type="number"
              [(ngModel)]="id"
              placeholder="Enter Id"
              required
            />
          </td>
          <td scope="col">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="title"
              placeholder="Title"
              required
            />
          </td>
          <td scope=" col">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="status"
              placeholder="Status"
              required
            />
          </td>
          <td scope="col">
            <button class="btn btn-primary" (click)="onCancelTask()">
              Cancel
            </button>
            <button class="btn btn-success" (click)="onAddTask()">
              Add Task
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="container" *ngIf="eflag">
    <h3 class="h1">Employee Table</h3>
    <table class="table table-dark table-responsive">
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">Mobile</th>
          <th scope="col">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrEmployees">
          <!-- <th scope="row">{{ item.email }}</th> -->
          <td>{{ item.user_name }}</td>
          <td>{{ item.user_email }}</td>
          <td>{{ item.user_password }}</td>
          <td>{{ item.user_mb }}</td>
          <td>
            <button class="btn btn-primary" (click)="onEditEmpoyee(item)">
              Edit
            </button>
            <button class="btn btn-danger" (click)="onDeleteEmpoyee(item)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="tr">
          <td scope="col">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="name"
              placeholder="Name"
              required
            />
          </td>
          <td scope="col">
            <input
              class="form-control"
              type="email"
              [(ngModel)]="email"
              placeholder="Enter Email"
              required
            />
          </td>
          <td scope=" col">
            <input
              class="form-control"
              type="password"
              [(ngModel)]="password"
              placeholder="Password"
              required
            />
          </td>
          <td scope=" col">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="mobile"
              placeholder="Mobile"
              required
            />
          </td>
          <td scope="col">
            <button class="btn btn-primary" (click)="onCancelEmployee()">
              Cancel
            </button>
            <button class="btn btn-success" (click)="onAddEmployee()">
              Add User
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="product" *ngIf="pflag">
    <h3 class="h1">Product Table</h3>

    <table class="table table-light table-responsive">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrProduct">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.product_name }}</td>
          <td>{{ item.product_desc }}</td>
          <td>{{ item.product_price }}</td>
          <td>
            <button class="btn btn-primary" (click)="onEditProduct(item)">
              Edit
            </button>
            <button class="btn btn-danger" (click)="onDeleteProduct(item)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="tr">
          <td scope="col">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="pid"
              placeholder="ID"
              required
            />
          </td>
          <td scope="col">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="pname"
              placeholder="Product Name"
              required
            />
          </td>
          <td scope=" col">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="pdesc"
              placeholder="Description"
              required
            />
          </td>
          <td scope=" col">
            <input
              class="form-control"
              type="number"
              [(ngModel)]="price"
              placeholder="price"
              required
            />
          </td>
          <td scope="col">
            <button class="btn btn-primary" (click)="onCancleProduct()">
              Cancle
            </button>
            <button class="btn btn-success" (click)="onAddProduct()">
              Add Product
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>



<div *ngIf="close_notify" class="notify_outer" id="notify_outer" style="overflow:auto !important;">
  <div *ngIf="pdframe" class="overlay-div" id="notify_me">
    <!-- <div class="featured-image has-ribbon"> -->
      <h3 class="text-center mt-0 mb-30"> Confirm to Proceed </h3>
      <hr class="hr">


    </div>
  <div *ngIf="!pdframe;" class="overlay-div" id="notify_me">
    <!-- <div class="featured-image has-ribbon"> -->
      <h3 class="text-center mt-0 mb-30"> Confirm to Proceed </h3>
      <hr class="hr">
      <div class="row">
        <div class="col-6">
          <button type="button"class="btn btn-danger float-right" (click)="onDelete()" >
          Delete
          </button>

        </div>
        <div class="col-6">
          <button type="button" class="btn btn-primary" (click)="close_me()">Cancel
          </button>
        </div>


      </div>

    </div>
<!--
    <div class="close_icon">
        <div class="text"> <img src="./assets/img/close.png" alt="close" srcset="" (click)="close_me()"></div>
    </div> -->
  <!-- </div> -->

</div>



