<!-- <p>demoapp works!</p> -->
<!--
<input class="btn btn-dark float-center" type="button" (click)="btnclick()" value="Submit">
     -->
<div class="container my-4">
  <h2 class="h2">Custom Directive</h2>
  <div class="row">
    <div>
      This is custom Directive
      <p appCustomDir [c]="'20px'">This is a demo text.</p>
      <p appCustomDir [c]="'30px'">This is a demo text.</p>
      <p appCustomDir [c]="'40px'">This is a demo text.</p>
      <p appCustomDir [c]="'50px'">This is a demo text.</p>


      <!-- <hr>
      <div class="form-group">
        <label>Credit / Debit Card Number</label>
        <input class="form-control" appCreditCard>
      </div> -->
      <button class="btn btn-dark" onClick="window.alert('Thanks For Joining !')">Join</button>

    </div>
  </div>
</div>
